body {
    font-family: Arial;
    text-align: center;
    background: #f2f2f2;
}

input, textarea {
    width: 250px;
    padding: 8px;
    margin: 5px;
}

button {
    padding: 7px 15px;
    margin: 5px;
}

#notesList {
    margin-top: 10px;
}

.noteBox {
    background: white;
    width: 260px;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid #ddd;
}

